@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: Patrick M. Capuano
   Date:   10.26.18
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */

div.row {
    width: 100%;
    clear: both;
}

/* Starting off, we make sure all divs with the class "row" are taking up 100% of the browser's width and clearing both
sides of potentially floated content. */

div[class^="column"] {
    float: left;
}

/* Here, we are setting all divs that are columns to expand around their near content; in this case being other images. */

/* Grid Columns Styles */

div.column100 {
    width: 100%;
}

div.column50 {
    width: 50%;
}

div.column33 {
    width: 33.33%;
}

div.column67 {
    width: 66.67%;
}

div.column25 {
    width: 25%;
}

div.column75 {
    width: 75%;
}

div.column20 {
    width: 20%;
}

div.column40 {
    width: 40%
}

div.column60 {
    width: 60%;
}

div.column80 {
    width: 80%;
}

/* All of these style rules have something very common in the fact that they are effecting their corresponding div class
with the appropraite amount of set width. For instance, "25" is getting set to 25%; "10" gets set to 10% and so on. The
classes are nammed this way in the first place to make it easier to change these values on a whim. */

/* Grid Spacing Styles */

div.container,
div.row,
div.column,
div.cell,
div .cell {
    box-sizing: border-box;
}

/* The border box model is added here to insure that all child elements assinged to the following classes fit accoridngly
to their parent elements instead of potentially phaseing out. */